<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <publishItem>
        <processor patch:after="processor[@type='Sitecore.Publishing.Pipelines.PublishItem.UpdateStatistics, Sitecore.Kernel']" type="Sitecore.Foundation.CDN.Publishing.Pipelines.PublishItem.PurgeJobScheduler, Sitecore.Foundation.CDN" resolve="true"/>
      </publishItem>

      <cdn.purgeFilter>
        <processor type="Sitecore.Foundation.CDN.Pipelines.PurgeFilter.AllowByPathFilter, Sitecore.Foundation.CDN">
          <AllowedPaths hint="list">
            <path>/sitecore/content/home</path>
            <path>/sitecore/media library</path>
          </AllowedPaths>
        </processor>
      </cdn.purgeFilter>
    </pipelines>

    <services>
      <configurator type="Sitecore.Foundation.CDN.RegisterDependencies, Sitecore.Foundation.CDN" />
    </services>
  </sitecore>
</configuration>
